@font-face {
  src: url(./Nunito-Light.ttf) format('ttf');
  font-family: 'Nunito';
  font-weight: lighter;
}

@font-face {
  src: url(./Nunito-ExtraBold.ttf) format('ttf');
  font-family: 'Nunito';
  font-weight: bold;
}

@font-face {
  src: url(./Nunito-Regular.ttf) format('ttf');
  font-family: 'Nunito';
  font-weight: normal;
}

@font-face {
  src: url(./Nunito-Italic.ttf) format('ttf');
  font-family: 'Nunito';
  font-weight: normal;
}