.header {
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
}

.header__logo {
	margin-left: 30px;
	margin-top: 30px;
	display: flex;
	text-decoration: none;
	flex-direction: row;
	align-items: baseline;
	color: white;

}

.header__title {
	font-size: 28px;
	margin: 0;
	line-height: 26px;
	font-family: 'Nunito';
}

.header__image {
	height: 22px;
}

.header__container {
	margin-right: 30px;
}

.header__text {
	font-family: 'Nunito';
	text-decoration: none;
	color: white;
	transition: ease .2s;
	border: 2px solid white;
	padding: 5px;
	font-size: 14px;
}

.header__text:hover {
	color: indianred;
	transition: ease .2s;
	background-color: white;
}