.header {

}

.header__logo {
	margin-left: 30px;
	margin-top: 30px;
display: flex;
text-decoration: none;
flex-direction: row;
align-items: baseline;
color: black;

}

.header__title {
	font-size: 26px;
	margin: 0;
}

.header__image {
	height: 22px;
}

.header__container {

}