.new-task {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40vh;

}

.new-task__input {
	height: 50px;
	width: 25%;
	border: none;
	border-bottom: 2px solid white;
	background: none;
	color: white;
	outline: none;
	font-family: 'Nunito';
	font-size: 20px;
	min-width: 250px;
	resize: none;
	overflow: auto;
}

.new-task__input::placeholder {
	color: white;
	font-family: 'Nunito Light';
	font-weight: 100;
	padding-top: 15px;
	text-align: center;

}

.new-task__input::-webkit-scrollbar {
	background: indianred;
	width: 1px;

}

.new-task__input:focus::placeholder {
	opacity: 0.7;
	transition: .2s ease-in;

}

.new-task__button {
	margin: 0 0 0 10px;
	padding: 0;
	cursor: pointer;
	font-family: 'Nunito';
	outline: none;
	color: white;
	background: none;
	border: 2px solid white;
	height: 50px;
	border-radius: 8px;
	width: 11%;
	min-width: 96px;
	transition: ease .2s;
	font-size: 20px;
}

.new-task__button:hover {
	color: indianred;
	transition: ease .2s;
	background-color: white;
}