.todo-list {
	font-family: 'Nunito';

}


.todo-list__wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	/* width: 60%; */
	min-height: 250px;
	padding-bottom: 20px;

}

.todo-list__title {
	text-align: center;
	color: white;
	margin: 20px 0;
	user-select: none;
	-ms-user-select: none;
	font-size: 23px;
}

.todo-list__task-wrapper {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: ease-in .2s;
	cursor: grab;
}

.todo-list__task {
	color: white;
	margin: 5px 5px;
	padding: 5px 0;
	transition: ease-in .2s;

	overflow: hidden;
}

.todo-list__task-number {
	color: white;
	font-weight: 100;
	padding: 5px 0;
	margin: 5px 5px;
}


.todo-list__task_active {
	border-bottom: 2px solid white;
}

.todo-list__task-wrapper:hover {
	background-color: rgba(242, 242, 242, 0.25);
	transition: ease-in .2s;
}

.todo-list__delete-button {
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	cursor: pointer;
	opacity: 0.5;
	transition: ease-in .2s;
}

.todo-list__delete-button:hover {
	font-weight: 900;
	color: white;
	opacity: 1;
	transition: ease-in .2s;
}